<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prime Seacher</title>
    <meta charset="utf-8" />
    <!-- Umleitung -->
    <script th:inline="javascript">
        if ([[${terminatedFlag}]]) {
            window.setTimeout(
                function () {
                    window.location.href = [[${url}]];
                }, 5000);
        }
    </script>
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />
</head>
<body class="container">
    <div th:if="${terminatedFlag}">
        <h1>Welcome to Prime Searcher!</h1>
        <p>
            You will be redirected shortly to <span th:text="${url}">Error? Missing URL!</span>.
        </p>
    </div>
    <div th:unless="${terminatedFlag}">
        <h1>Prime Searcher has been stopped</h1>
    </div>
</body>
</html>