<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prime Seacher - Findings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />
</head>
<body class="container">
    <div th:if="${terminatedFlag}">
        <h1>Prime Searcher - Findings</h1>
        <p>
            Started at <b><span th:text="${initDate}">Error?</span></b>. <br>
            The last prime discovered was <b><span th:text="${lastPrime}">Error?</span></b> at
            <b><span th:text="${lastDate}">Error?</span></b>.
        </p>
    </div>
    <div th:unless="${terminatedFlag}">
        <h1>Prime Searcher has been stopped</h1>
    </div>
</body>
</html>